/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1 {
  font-family: serif;
  font-size: 2.1em;
  margin-bottom: 1em;
  font-weight: 700;
}

h2 { 
  font-family: serif;
  font-size: 1.4em;
  padding-top: 0.6em;
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 0.7em;
}

h3, h4, h5, h6 {
  font-family: serif;
  font-size: 1em;
}

h3 {
  border-bottom: 2px solid #000;
  margin-bottom: 0.7em;
}

p { 
  font-weight: 400;
  margin: 1em 0; 
  max-width: 768px;
}

a         { color: #00a; text-decoration: none;}
a:hover   { color: #000; }
a:visited { color: #a00; }

.italic {
  font-style: italic;
  font-family: serif;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site {
  font-size: 115%;
  text-align: justify;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.url-main {
  display: inline-block;
}

.url-main a {
  color: #000;
}

.url-main a:hover {
  color: #a00;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.pull-right {
  text-align: right;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Feature
/*
/*****************************************************************************/

.feature img {
  width: 100%;
}

.feature .title {
  font-family: serif;
  font-size: 1.4em;
  font-style: italic;
}

.feature .row {
  line-height: 1.4em;
  margin-top: 0.5em;
}

.links p {
  margin: 0;
}

.biglink {
  margin-bottom: 0;
  font-size: 100%;
  font-weight: bold;
}

.item {
  margin: 0px 0px 1em 0px;
}

.photo img {
  height: 8em;
  display: inline;
}

.photo a {
  border: 0 none;
  text-decoration: none;
}

/******************************************************************************/
/*
/* Media Query Breakpoints
/*
/* min-width: 1176px { desktop }
/*
/* min-width: 768px { tablets and desktop }
/*
/* max-width: 767px { phones }
/*
/******************************************************************************/

@media only screen and (min-width: 1176px) { }

@media only screen and (min-width: 768px) {

  .pad-right {
    padding-right: 0.7em;
  }

  .pad-left {
    padding-left: 0.7em;
  } 

}

@media only screen and (max-width: 768px) {

  .container {
    width: 100%;
  }

  .header a.first {
    margin-left: 0px;
  }

  .post img {
    max-width: 100%;
  }

}
