@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
html, body {
  height: 100%;
}

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1 {
  font-family: "Droid Serif", serif;
  font-size: 2.1em;
  margin-bottom: 1em;
  font-weight: 700;
}

h2 {
  font-family: "Droid Serif", serif;
  font-size: 1.4em;
  padding-top: 0.6em;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 0.7em;
}

h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  font-size: 1em;
}

h3 {
  border-bottom: 2px solid black;
  margin-bottom: 0.7em;
}

p {
  font-weight: 400;
  margin: 1em 0;
  max-width: 768px;
}

a {
  color: #00a;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  color: #aa0000;
}

.italic {
  font-style: italic;
  font-family: "Droid Serif", serif;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site {
  font-size: 115%;
  text-align: justify;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.footer {
  border-top: 1px solid black;
  margin-top: 2em;
  padding-top: 1em;
}

.footer ul {
  margin: 0px;
  padding: 0px;
  vertical-align: text-bottom;
}

.footer li {
  display: inline;
  float: left;
}

.footer li:first-child {
  margin-right: 1em;
}

.footer li:nth-child(n+2) {
  margin-left: 1em;
}

.footer a {
  color: black;
  display: block;
  text-align: center;
}

.url-main {
  display: inline-block;
}

.url-main a {
  color: black;
}

.url-main a:hover {
  color: #aa0000;
}

.header a.extra {
  color: #aaaaaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: black;
}

.meta {
  color: #aaaaaa;
}

.border-top {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-top: 1px solid #aaaaaa;
  margin-top: 18px;
}

.text-right {
  text-align: right;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Feature
/*
/*****************************************************************************/
.feature img {
  width: 100%;
}

.feature .title {
  font-family: "Droid Serif", serif;
  font-size: 1.4em;
  font-style: italic;
}

.feature .row {
  line-height: 1.4em;
  margin-top: 0.5em;
}

.links p {
  margin: 0;
}

.biglink {
  margin-bottom: 0;
  font-size: 100%;
  font-weight: bold;
}

.item {
  margin: 0px 0px 1em 0px;
}

.photo img {
  height: 8em;
  display: inline;
}

.photo a {
  border: 0 none;
  text-decoration: none;
}

/******************************************************************************/
/*
/* Tidbits
/*
/******************************************************************************/
/******************************************************************************/
/*
/* Media Query Breakpoints
/*
/* min-width: 1176px { desktop }
/*
/* min-width: 768px { tablets and desktop }
/*
/* max-width: 767px { phones }
/*
/******************************************************************************/
@media only screen and (min-width: 768px) {
  .pad-right {
    padding-right: 0.7em;
  }

  .pad-left {
    padding-left: 0.7em;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .header a.first {
    margin-left: 0px;
  }

  .post img {
    max-width: 100%;
  }
}
