---
layout: default
title: stevenja.co/bs/
---
<!-- begin homepage content -->
<div class="fixed-width">
  <h2>Posts</h2>
  <section>
    {% for post in site.posts %}
      {% if post.tags contains 'frontpage' %}
        <div class="item text-left">
          <span class="meta">{{ post.date | date_to_string }}&nbsp;&raquo;</span> 
          <a class="title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          <ul class="tag-list">
            {% for tag in post.tags %}
              {% if tag != 'frontpage' %}
                <li class="tag"><a href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </section>
  <!-- begin footer -->
  {% include footer.html %}
  <!-- end footer -->

</div>
<!-- end homepage content -->
