---
layout: default
title: stevenja.co/bs/
---
<!-- begin homepage content -->
<div class="fixed-width">
  <h2>Crafts &amp; Trade</h2>
  <section class="row">
    {% for post in site.categories.craft %}
    <article>
      <div class="row">
        <a class="title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a><br/>
        <span class="meta">{{ post.date | date_to_string }}</span>
        </ul>
      </div>
      <div class="row">
        {% include post-images.html %}
        <div>
          {{ post.content }}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
  <!-- begin footer -->
  {% include footer.html %}
  <!-- end footer -->

</div>
<!-- end homepage content -->
