@import 'colors';
@import 'typefaces';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: $sans-serif;
}

h1 {
  font-family: $serif;
  font-size: 2.1em;
  font-weight: 700;
}

h2 {
  font-family: $serif;
  font-size: 1.4em;
  padding-top: 0.6em;
  border-top: 1px solid $black;
  border-bottom: 2px solid $black;
  margin-bottom: 0.7em;
}

h3, h4, h5, h6 {
  font-family: $serif;
  font-size: 1em;
}

h3 {
  border-bottom: 2px solid $black;
  margin-bottom: 0.7em;
}

p { 
  margin: 1em 0; 
}

a         { color: #00a; text-decoration: none;}
a:hover   { color: $black; }
/* a:visited { color: $red; } */

img {
  max-width: 100%;
}

.italic {
  font-style: italic;
  font-family: $serif;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  width: 768px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.site {
  text-align: left;
  line-height: 1.5em;
}

header h1{
  display: inline-block;
}

header nav {
  display: inline-block;
}

header h1 a{
  color: $black;
}

header h1 a:hover {
  color: $red;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

nav > a {
  color: $grey;
  margin-left: 1em;
}

nav > a:hover {
  color: $black;
}

article {
  margin-bottom: 2em;
}

article:last-child {
  margin-bottom: 0;
}

.footer {
  border-top: 2px solid $black;
  padding-top: 1em;
  margin-bottom: 2em;
}

.footer ul {
    margin: 0px;
    padding: 0px;
    vertical-align: text-bottom;
}

.footer li {
    display:inline;
    float:left;
}

.footer li:nth-child(n+2) {
    margin-left: 1em;
}

.footer a{
    display: block;
    text-align: center;
}

.meta {
  font-size: 0.8em;
  color: $grey;
}

.border-top {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-top: 1px solid $grey;
  margin-top: 18px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid $black;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/

.flex-row {
  font-size: 0;
  flex-flow: row nowrap;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;

  .flex-item {
    margin: auto;
  }
  
  .flex-item:first-child {
    padding-right: 6px;
  }
}

.flex-row .flex-item img {
  width: 100%;
  height: auto;
}


/*****************************************************************************/
/*
/* Feature
/*
/*****************************************************************************/

.title {
  font-family: $serif;
  font-style: italic;
}

.links p {
  margin: 0;
}

.biglink {
  margin-bottom: 0;
  font-size: 100%;
  font-weight: bold;
}

.item {
  margin: 0px 0px 1em 0px;
}

.photo img {
  height: 8em;
  display: inline;
}

.photo a {
  border: 0 none;
  text-decoration: none;
}

/******************************************************************************/
/*
/* Tidbits
/*
/******************************************************************************/

.signature {
}

.horizontal-line {
  height: 0px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  border-top: 1px solid $black;
}

#tag-cloud a:before { 
  content: '#'; 
}

ul.tag-list {
  display: inline-block;
  margin: 0px;
  padding-left: 1em;
}

ul.tag-list > .tag {
  display: inline-block;
  font-size: 0.8em;
  color: desaturate($red, 10%)
}

ul.tag-list > .tag a {
  color: inherit
}

ul.setup-item {
  padding: 0px;
  list-style: none;

  li {
    margin-bottom: 0.4em;
  }
}

/******************************************************************************/
/*
/* Media Query Breakpoints
/*
/* min-width: 1176px { desktop }
/*
/* min-width: 768px { tablets and desktop }
/*
/* max-width: 767px { phones }
/*
/******************************************************************************/

@media only screen and (min-width: 1176px) { }

@media only screen and (min-width: 768px) {

  .pad-right {
    padding-right: 0.7em;
  }

  .pad-left {
    padding-left: 0.7em;
  }

  article {
    h3 {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 768px) {

  .container {
    width: 100%;
  }

  .content .fixed-width {
    width: 100%;
  }

  .header a.first {
    margin-left: 0px;
  }
}
