---
layout: default
title: setup
---
<div class="fixed-width">
  <h2>Current Setup</h2>
  <p>This page is a quick attempt of documentation on the various pieces that go into creating and maintaining this site.  It is not well maintained at the moment.</p>
  {% for dependency in site.data.dependencies %}
  <article>
    <a class="italic" href="{{ dependency.link }}" target="_blank">{{ dependency.name }}</a>
      {{ dependency.description }}
  {% endfor %}

  <p>I've been working on a styleguide which can be found <a class="italic" href="{{ site.url }}/setup/styleguide">Here</a></p>
  <!-- begin footer -->
  {% include footer.html %}
  <!-- end footer -->
</div>
