<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
      <div class="container">
        <div class="site">
        <div class="row">
          <div class="header">
            <h1 class="url-main"><a href="{{ site.url }}">{{ site.name }}</a></h1>
            <a class="extra first" href="{{ site.url }}">home</a>
            <a class="extra" href="{{ site.url }}/setup.html">setup</a>
          </div>
        </div>

          {{ content }}

        </div>
      </div>
    </body>
</html>
