---
layout: default
---

<div>
  <h2>{{ page.title }}</h2>
  <span class="meta">{{ page.date | date_to_string }}</span><br>
  <ul class="tag-list">
    {% for tag in page.tags %}
      {% if tag != 'frontpage' %}
      <li class="tag"><a href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a></li>
      {% endif %}
    {% endfor %}
          </ul>
  {% include edit.html %}
  {% include github.html %}
  <div class="post">

    {% include post-images.html %}

    <div>
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
</div>

{% include jquery.html %}
{% include momentjs.html %}
{% include lastcommit.html %}

